:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 100%;
}

.timer-container {
    text-align: center;
}

.time-display {
    margin-bottom: 10px;
}

.timer-circle {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

.icon-button {
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .icon-button .material-icons, 
  .icon-button lucide-icon {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.duration-input {
    margin-top: 15px;
}

.duration-input label {
    margin-right: 10px;
    font-size: 16px;
}

.duration-input input {
    padding: 5px;
    font-size: 16px;
    width: 100px;
}
