<div class="justify-center row flex-center flex rounded-md p-4 mx-auto my-auto w-64 border-2">
    <div class="w-full">
      <h1 class="header text-2xl">Login</h1>
      <form [formGroup]="signInForm" (ngSubmit)="onSubmit()" class="form-widget">
        <div class="flex flex-col">
          <label for="email">Email</label>
          <input
            id="email"
            formControlName="email"
            class="inputField"
            type="email"
            placeholder="Your email"
          />
          <label for="password">Passwort</label>
          <input
            id="password"
            formControlName="password"
            class="inputField"
            type="password"
            placeholder="Your password"
          />
        </div>
        <div class="mt-4">
          <app-button type="submit">
            {{ loading ? 'Loading' : 'Login' }}
          </app-button>
        </div>
      </form>
      <div class="switch">
        <p>Dont have an Account ? <a routerLink="/register">Register</a></p>
      </div>
    </div>
  </div>