<div class="h-screen flex flex-col p-4">
  <h1 class="text-xl font-bold mb-4">ToDo List</h1>
  <div class="bg-white shadow-lg z-10 flex flex-col md:flex-row items-center gap-4 mb-4 p-4">
    <div class="flex flex-col md:flex-row items-center gap-2 md:w-2/3">
      <input placeholder="Enter ToDo title" class="w-full md:w-auto p-2 border border-gray-300 rounded-md mb-2 md:mb-0" [(ngModel)]="newTodoTitle" />
      <div class="flex items-center gap-2">
        <label for="minutes" class="mr-1">Minutes:</label>
        <input type="number" id="minutes" placeholder="Minutes" min="0" max="59" class="w-16 p-1 border border-gray-300 rounded-md" [(ngModel)]="newTodoMinutes" />
        <label for="seconds" class="mr-1">Seconds:</label>
        <input type="number" id="seconds" placeholder="Seconds" min="0" max="59" class="w-16 p-1 border border-gray-300 rounded-md" [(ngModel)]="newTodoSeconds" />
      </div>
    </div>
    <div class="flex flex-col md:flex-row items-center gap-2 md:w-1/3">
      <input type="date" placeholder="Due Date" class="w-full md:w-auto p-2 border border-gray-300 rounded-md mb-2 md:mb-0" [(ngModel)]="newTodoDueDate" />
      <button class="w-full md:w-auto p-2 px-4 bg-blue-500 text-white rounded-md hover:bg-blue-600" (click)="addTodo()">Add ToDo</button>
    </div>
  </div>
  <div class="mt-4 overflow-auto flex-1">
    <div class="flex flex-col gap-4">
      <div class="p-4 border border-gray-300 rounded-lg shadow-sm bg-white" *ngFor="let todo of todos">
        <div class="flex items-center gap-2">
          <input type="checkbox" [checked]="todo.is_complete" (change)="toggleComplete(todo)" class="mr-2" />
          <div class="flex-1">{{ todo.title }}</div>
          <app-button class="text-blue-500 hover:underline" (click)="editTodoInModal(todo)">Edit</app-button>
          <app-button class="text-blue-500 hover:underline" (click)="startTimer(todo)">Start Timer</app-button>
          <app-button class="text-blue-500 hover:underline" (click)="deleteTodo(todo.id!)">Delete</app-button>
        </div>
        <div class="flex justify-between mt-2">
          <span *ngIf="todo.work_duration !== undefined" class="text-sm text-gray-600">
            Duration: {{ calculateDuration(todo.work_duration) }}
          </span>
          <span *ngIf="todo.due_date" class="text-sm text-gray-600">Due: {{ todo.due_date | date:'shortDate' }}</span>
        </div>
      </div>
    </div>
  </div>
  <app-todo-popover></app-todo-popover>
</div>
