.todo-inputs {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
  }
  
  .todo-inputs input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .duration-inputs {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .duration-inputs label {
    margin-right: 5px;
  }
  
  .duration-inputs input {
    width: 70px;
  }
  
  .duration-inputs span {
    margin-left: 5px;
    font-size: 14px;
    color: #333;
  }
  
  .todo-inputs button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .todo-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .todo-item {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .todo-header {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .todo-header input {
    margin-right: 10px;
  }
  
  .todo-header .todo-title {
    flex: 1;
  }
  
  .todo-header button {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
  }
  
  .todo-header .start-timer:hover,
  .todo-header .delete-todo:hover {
    text-decoration: underline;
  }
  
  .todo-details {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .todo-details span {
    font-size: 14px;
    color: #666;
  }
  