<div class="header">
  <div class="header-left">
    <button class="icon-button" (click)="goBack()">
      <span class="material-icons"><lucide-icon name="circle-arrow-left"></lucide-icon></span>
    </button>
    <button class="icon-button">
      <span class="material-icons"><lucide-icon name="settings"></lucide-icon></span>
    </button>
  </div>
  <div class="header-center">
    <h1>{{ title }}</h1>
  </div>
  <div class="header-right">
      <span class="user" *ngIf="user">Logged in as: {{ user.email }}</span>
      <button class="icon-button" (click)="signOut()"><lucide-icon name="log-out"></lucide-icon></button>
  </div>
</div>
