<div class="home-container">
  <header class="header">
    <div class="header-left">
      <button class="settings-button">
        <span class="material-icons">settings</span>
      </button>
    </div>
    <div class="header-center">
      <h1>Productivity App</h1>
    </div>
    <div class="header-right">
      <button class="settings-button">
        <span class="material-icons">settings</span>
      </button>
    </div>
  </header>
  
  <div class="content">
    <div class="card" [routerLink]="['/calendar']">
      <h2>Kalender</h2>
    </div>
    <div class="card" [routerLink]="['/todo']">
      <h2>Todo</h2>
    </div>
    <div class="card" [routerLink]="['/timer']">
      <h2>Timer</h2>
    </div>
  </div>
</div>
